<div class="py-3 px-4 d-flex justify-content-end second-header">
    <button mat-stroked-button color="primary" [routerLink]="['addQuestion']" [queryParams]="{ id: 0 }">Add Question</button>
</div>
<div class="container mt-4">
    <table class="mt-3" style="width:100%;">
        <thead>
            <tr>
                <th>Question Text</th>
                <th>Question Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ques of questionlist.list;index as i">
                <td>{{ques.questionText}}</td>
                <td>{{ques.questionType}}</td>
                <td class="d-flex justify-content-end my-1"><button mat-stroked-button color="primary" class="mx-2" [routerLink]="['addQuestion']" [queryParams]="{ id: ques.id}">Edit</button>
                    <button mat-stroked-button color="primary" class="mx-2"  (click)="DeleteQuestion(ques.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
<div class="mt-4 row" style="border-top: 1px solid #cdc6c6;">
    <div class="col-sm-11 p-0"><app-pagination [TotalCount]="questionlist.totalCount" (page)="handlePageChange($event)"></app-pagination></div>
    <div class="col-sm-1 p-0" style="background-color: ghostwhite;"></div>
</div>
    
    