
<div class="pb-3 pt-4 px-4 d-flex justify-content-between align-items-center container">
    <h3 class="mb-0">Questions</h3>
    <button mat-raised-button color="primary" [routerLink]="['addQuestion']" [queryParams]="{ id: 0 }">Add
        Question</button>
</div>

<div class="pt-3 px-4 main-background">
   
    <div class="container-lg my-1 pt-4 px-5 table-borders table-responsive">
        
        <table class="mt-3" style="width:100%;">
            <thead>
                <tr class="table-border-bottom">
                    <th class="py-2">No.</th>
                    <th class="py-2">Question Text</th>
                    <th class="py-2">Question Type</th>
                    <th class="py-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ques of questionlist.list;index as i" class="table-border-bottom">
                    <td>{{ currentPage * pageSize + (i + 1) }}</td>
                    <td>{{ques.questionText}}</td>
                    <td>{{ques.questionType}}</td>
                    <td class="d-flex justify-content-end my-1"><button mat-stroked-button color="primary" class="mx-2"
                        [routerLink]="['addQuestion']" [queryParams]="{ id: ques.id}">Edit</button>
                        <button mat-stroked-button color="warn" class="mx-2"
                        (click)="DeleteModelOpen(ques.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pt-3 pb-2">
            <app-pagination [TotalCount]="questionlist.totalCount" (page)="handlePageChange($event)"></app-pagination>
        </div>
    </div>
</div>