<section>
    <div class="container p-3">
        <h2 *ngIf="id == 0">Add New Question</h2>
        <h2 *ngIf="id != 0">Edit Question</h2>
        <div class="mt-2">
            <div *ngIf="notAnswered" class="mt-3">
                <span class="text-danger">Please, select an answer for this question</span>
            </div>
            <form [formGroup]="questionForm" (ngSubmit)="SaveData()">
                <div class="row">
                    <div class="col-sm-6 mt-2">
                        <app-select-field [props]="inputQuestionType" [parentForm]="questionForm"></app-select-field>
                    </div>
                    <div class="col-12 mt-2">
                        <app-input-field [props]="inputQuestionTextProps" [parentForm]="questionForm"></app-input-field>
                    </div>
                    <div class="col-12 mt-2" *ngIf="questionForm.value.questionType == 'Text'"
                        formArrayName="optionAns">
                        <label class="form-label">Question Ans</label>
                        <ng-container *ngFor="let option of options; index as i;">
                            <div [formGroupName]="i">
                                <input type="text" class="form-control form-control-lg input-valid-border"
                                    formControlName="option">
                            </div>
                            <ul class="text-danger error-ul form-submitted">
                                <li
                                    *ngIf="questionForm.get('optionAns')?.get(i.toString())?.get('option')?.errors?.['required']">
                                    This field is required
                                </li>
                            </ul>
                        </ng-container>
                    </div>

                    <div class="col-12 mt-2" *ngIf="questionForm.value.questionType == 'Single'">
                        <div formArrayName="optionAns">
                        <ng-container *ngFor="let option of options; index as i;">
                            <div [formGroupName]="i" class="d-flex">
                                <input type="text" class="form-control mt-2 form-control-lg input-valid-border"
                                    formControlName="option" placeholder="Option {{ i + 1 }}">
                                <mat-radio-button [value]="i" [checked]="getOptionControl(i).value"
                                    (click)="onRadioChange(i)">Is Answer</mat-radio-button>
                            </div>
                            <ul class="text-danger error-ul form-submitted">
                                <li
                                    *ngIf="questionForm.get('optionAns')?.get(i.toString())?.get('option')?.errors?.['required']">
                                    This field is required
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                        <!-- <app-radiowithinput [questionType]="questionForm.value.questionType" [options]="options" (optionChange)="onRadioChange($event)"></app-radiowithinput> -->
                    </div>

                    <div class="col-12 mt-2" *ngIf="questionForm.value.questionType == 'Multiple'"
                        formArrayName="optionAns">
                        <ng-container *ngFor="let option of options; index as i;">
                            <div [formGroupName]="i" class="d-flex">
                                <input type="text" class="form-control mt-2 form-control-lg input-valid-border"
                                    formControlName="option" placeholder="Option {{ i + 1 }}">
                                <mat-checkbox formControlName="isAns" [checked]="getOptionControl(i).value">Is
                                    Answer</mat-checkbox>
                            </div>
                            <ul class="text-danger error-ul form-submitted">
                                <li
                                    *ngIf="questionForm.get('optionAns')?.get(i.toString())?.get('option')?.errors?.['required']">
                                    This field is required
                                </li>
                            </ul>
                        </ng-container>
                    </div>

                </div>
                <div class="mt-2">
                    <button mat-stroked-button color="primary" type="submit">
                        save
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>