
<div class="container">
    <div class="mt-3 questionNumbers">
        <span *ngFor="let question of questionList.list; let i = index" [ngClass]="{'answered': isQuestionAnswered(question), 'not-answered': !isQuestionAnswered(question)}" class="p-2 mx-2 mt-1" (click)="goToQuestion(i)">
           {{ i + 1 }}
        </span>
    </div>
    <div *ngIf="notAllQuestionsAnswered" class="mt-3">
        <span class="text-danger">Please, answer all remaining questions</span>
    </div>
    <div class="mt-3">
        <h3>{{ index + 1 }}. {{ questionList.list !=undefined ? questionList.list[index].questionText: '' }}</h3>
        <p>Type: {{ questionList.list != undefined ? questionList.list[index].questionType : '' }}</p>
        
        <ng-container *ngIf="questionList.list != undefined && questionList.list[index].questionType === 'Text'">
            <input type="text" class="form-control form-control-lg" [value]="questionList.list[index].optionAns[0].option" (input)="updateInputOption($event)">
        </ng-container>
        
        <ng-container *ngIf="questionList.list != undefined && questionList.list[index].questionType === 'Single'">
            <mat-radio-button *ngFor="let option of questionList.list[index].optionAns" [checked]="option.isAns" (click)="selectRadioOption(option)">{{option.option}}</mat-radio-button>
        </ng-container>
        
        <ng-container *ngIf="questionList.list != undefined && questionList.list[index].questionType === 'Multiple'">
            <mat-checkbox *ngFor="let option of questionList.list[index].optionAns" [checked]="option.isAns" (click)="selectCheckboxOption(option)"> {{option.option}}</mat-checkbox>
        </ng-container>
        
    </div>
    <div class="mt-3">
        <button mat-stroked-button color="primary" class="mx-2" (click)="previousQuestion()" [disabled]="index === 0">Previous</button>
        <button mat-stroked-button color="primary" class="mx-2" (click)="nextQuestion()" [disabled]="index === (questionList.list?.length ?? 0) - 1">Next</button>
        <button mat-stroked-button color="primary" class="mx-2" (click)="submitAnswers()" *ngIf="index === (questionList.list?.length ?? 0) - 1">Submit</button>
    </div>
</div>
    